@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Poppins, sans-serif;
}
html, body {
display: grid;    
text-align: center;
height: 100%;
place-items: center;
background: #f2f2f2;
}
.container{
    width:420px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.container header {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
}
.container form {
    margin: 20px;
}
form .field {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
form .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-size: 17px;
    transition: all 0.10s;
}
form .field input:focus {
    border-color: lightgreen;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.show {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-weight: 600;
}
form .indicator {
    height: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 10px 0;
}
form .indicator span {
    background: lightgrey;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0 5px;
    position: relative;
}
form .indicator span:before{
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 5px;
}
form .indicator span.weak:before{
background-color: #ff4757;
}
form .indicator span .medium:before{
    background-color: orange;
}
form .indicator span .strong:before{
    background-color: green;
}